<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="signin">
                <form>
                    <h1>Sign in</h1>
                    <div class="form-group">
                        <label for="siUserEmail">Email address</label>
                        <input type="email" class="form-control" id="siUserEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="siUserPassword">Password</label>
                        <input type="password" class="form-control" id="siUserPassword" placeholder="Password">
                    </div>
                    <button id="siSubmit" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
